<div class="container-fluid">
  <div class="search-title-container">
    <h2 class="title">Matériel du l'agent</h2>
    <div class="search-box">
      <input type="search" [(ngModel)]="searchText" class="form-control" placeholder="Rechercher" aria-label="search"/>
    </div>
  </div>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Catégory</th>
          <th>Nature</th>
          <th>Numero du série</th>
          <th>Numero d'inventaire</th>
          <th>statut</th>
          <th class="actions">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let materiel of affectedMateriels | filter: searchText |  paginate: { itemsPerPage: 7, currentPage: p }">
          <td>{{ materiel.categorie }}</td>
          <td>{{ materiel.nature }}</td>
          <td>{{ materiel.numSerie }}</td>
          <td>{{ materiel.numInv }}</td>
          <td>
            <div>
              <span *ngIf="materiel.status === 'pending'">En attente</span>
              <span *ngIf="materiel.status === 'validate'">Valider</span>
              <span *ngIf="materiel.status === 'accept'">Accepter</span>
              <span *ngIf="materiel.status === 'received'">Reçus</span>
            </div>
          </td>
          <td>
            
              <span class="btn btn-success m-1" [class.received]="materiel.received" (click)="receiveMateriel(materiel)">
                Recevoir matériel
              </span>
              <span class="btn btn-primary m-1" data-bs-toggle="modal" (click)="selectMateriel(materiel)" data-bs-target="#addModal">
                Créer réclamation
              </span>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="d-flex justify-content-end">
      <pagination-controls (pageChange)="p = $event"  previousLabel="Précédent"
      nextLabel="Suivant"></pagination-controls>
    </div>
  </div>

<div 
class="modal fade"
id="addModal" 
tabindex="-1"
aria-labelledby="addModalLabel"
aria-hidden="true"
data-backdrop="static"
data-keyboard="false">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title fs-5" id="addModalLabel">
        Créé Réclamation
      </h1>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"
      ></button>
    </div>
    <div class="modal-body">
        <textarea [(ngModel)]="description" placeholder="Enter description"></textarea>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-primary"
        (click)="createReclamation(description)"
        data-bs-dismiss="modal"
        
      >
      Créé réclamation
      </button>
    </div>
  </div>
</div>
</div>
