<div class="container-fluid">
  <div class="search-title-container">
    <h2 class="title">Table des Missions</h2>
    <div class="search-box">
      <input type="search" [(ngModel)]="searchText" class="form-control" placeholder="Rechercher" aria-label="search"/>
    </div>
  </div>
 

      <button
        data-bs-toggle="modal"
        data-bs-target="#AddModal"
        class="btn btn-primary float-end m-2"
      >
         <i class="bi bi-plus-circle"></i>
      </button>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th for="title">Titre</th>
            <th for="place">Lieu du mission</th>
            <th for="hour">Heure du mission</th>
            <th for="dateStart">Date du début</th>
            <th for="dateEnd">Date du fin</th>
            <th for="agentLogistique">Agent Logistique</th>
            <th for="action">Actions</th>
            <th for="status">Statut</th>
        </thead>
        <tbody>
          <tr *ngFor="let mission of missionList | filter: searchText | paginate: { itemsPerPage: 7, currentPage: p }">
            <td>{{ mission.title }}</td>
            <td>{{ mission.place }}</td>
            <td>{{ mission.hour }}</td>
            <td>{{ mission.dateStart }}</td>
            <td>{{ mission.dateEnd }}</td>
            <td>{{ mission.agentLogistique}}</td>
            <td>
              <div>
                <span *ngIf="mission.status === 'pending'">En attente</span>
                <span *ngIf="mission.status === 'validate'">Valider</span>
                <span *ngIf="mission.status === 'rejected'">Rejeter</span>
              </div>
            </td>
            <td>
              <div>
                <span
                  data-bs-toggle="modal"
                  data-bs-target="#UpdateModal"
                  (click)="editMission(mission)"
                >
                <i class="bi bi-pencil-square icon-edit" ></i>
                </span>
                <span class="icon-delete" data-bs-toggle="modal"
                data-bs-target="#DeleteModal" (click)="openDeleteModal(mission)">
                <i class="bi bi-trash-fill"></i>
                </span>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="d-flex justify-content-end">
        <pagination-controls (pageChange)="p = $event"  previousLabel="Précédent"
        nextLabel="Suivant"></pagination-controls>
      </div>
  </div>
  
  <!-- Add Modal -->
     <div
        class="modal fade"
        id="AddModal"
        tabindex="-1"
        aria-labelledby="AddModalLabel"
        aria-hidden="true"
        data-backdrop="static"
        data-keyboard="false"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="addModalLabel">
                Ajouter une mission
              </h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <form [formGroup]="missionForm" autocomplete="off">
                <div class="row">
                  <div class="col-xl-6 mb-3">
                    <label for="title" class="form-label">Titre</label>
                    <input type="text" class="form-control" name="title" formControlName="title"/>
                    <div
                      *ngIf="
                        missionForm.controls['title'].hasError('required') &&
                        missionForm.controls['title'].touched
                      "
                      class="text-danger"
                    >
                      Entrez titre du mission
                    </div>
                  </div>
                  <div class="col-xl-6 mb-3">
                    <label for="place" class="form-label">Lieu du mission</label>
                    <input type="text" class="form-control" name="place" formControlName="place"/>
                    <div
                      *ngIf="
                        missionForm.controls['place'].hasError('required') &&
                        missionForm.controls['place'].touched
                      "
                      class="text-danger"
                    >
                      Entrez lieu du mission
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-6 mb-3">
                    <label for="hour" class="form-label">Heure du mission</label>
                    <input type="time" class="form-control" name="hour" formControlName="hour"/>
                    <div
                      *ngIf="
                        missionForm.controls['hour'].hasError('required') &&
                        missionForm.controls['hour'].touched
                      "
                      class="text-danger"
                    >
                      Entrez l'heure du mission
                    </div>
                  </div>
                    <div class="col-xl-6 mb-3">
                      <label for="dateStart" class="form-label">Date du debut</label>
                      <input type="date" class="form-control" name="dateStart" formControlName="dateStart"/>
                      <div
                        *ngIf="
                          missionForm.controls['dateStart'].hasError('required') &&
                          missionForm.controls['dateStart'].touched
                        "
                        class="text-danger"
                      >
                        Entrez la date du debut du mission
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xl-6 mb-3">
                      <label for="dateEnd" class="form-label">Date du fin</label>
                      <input type="date" class="form-control" name="dateEnd" formControlName="dateEnd"/>
                      <div
                        *ngIf="
                          missionForm.controls['dateEnd'].hasError('required') &&
                          missionForm.controls['dateEnd'].touched
                        "
                        class="text-danger"
                      >
                        Entrez la date du fin du mission
                      </div>
                    </div>
                    <div class="col-xl-6 mb-3">
                        <label for="agentLogistique" class="form-label">Agent Logistique</label>
                        <select class="form-select" name="agentLogistique" formControlName="agentLogistique">
                          <option *ngFor="let user of users" [value]="user._id">{{ user.firstName + ' ' + user.lastName }}</option>
                        </select>
                        <div *ngIf="missionForm.controls['agentLogistique'].hasError('required') && missionForm.controls['agentLogistique'].touched" class="text-danger">
                          Sélectionnez l'agent logistique pour la mission
                        </div>
                    </div>
                  </div>
              </form>
            </div>
            <div class="modal-footer">
              <button
                mat-raised-button 
                type="submit" 
                class="btn btn-primary"
                (click)="submit()"
                data-bs-dismiss="modal">
                Ajouter
              </button>
            </div>
          </div>
        </div>
      </div>
  
  
  <!-- Update Modal -->
  <div
  class="modal fade"
  id="UpdateModal"
  tabindex="-1"
  aria-labelledby="UpdateModalModalLabel"
  aria-hidden="true"
  data-backdrop="static"
  data-keyboard="false"
  >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="UpdateModalLabel">
          Modifier une mission
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form autocomplete="off">
            <div class="row">
              <div class="col-xl-6 mb-3">
                <label for="title" class="form-label">Titre</label>
                <input name="title" id="title" class="form-control" [(ngModel)]="selectedMission.title" [ngModelOptions]="{ standalone: true }" >
              </div>
              <div class="col-xl-6 mb-3">
                  <label for="place" class="form-label">Lieu du mission</label>
                  <input name="place" id="place"class="form-control" [(ngModel)]="selectedMission.place"  >
              </div>
            </div>
            <div class="row">
              <div class="col-xl-6 mb-3">
                <label for="hour" class="form-label">Heure du mission </label>
                <input type="time" name="hour" id="hour" class="form-control"[(ngModel)]="selectedMission.hour" [ngModelOptions]="{ standalone: true }" >
              </div>
              <div class="col-xl-6 mb-3">
                <label for="dateStart" class="form-label">Date du debut</label>
                <input type="date" name="dateStart" id="dateStart" class="form-control"[(ngModel)]="selectedMission.dateStart" [ngModelOptions]="{ standalone: true }" >
              </div>
            </div>
            <div class="row">
              <div class="col-xl-6 mb-3">
                <label for="dateEnd" class="form-label">Date du fin</label>
                <input type="date" name="dateEnd" id="dateEnd" class="form-control" [(ngModel)]="selectedMission.dateEnd" [ngModelOptions]="{ standalone: true }" >
            </div>
            <div class="col-xl-6 mb-3">
                <label for="agentLogistique" class="form-label">Agent Logistique</label>
                <select class="form-select" name="agentLogistique" id="agentLogistique" [(ngModel)]="selectedMission.agentLogistique" [ngModelOptions]="{ standalone: true }" >
                  <option *ngFor="let user of users" [value]="user._id">{{ user.firstName + ' ' + user.lastName }}</option>
                </select>
            </div>
            </div>
            
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-primary"
          (click)="updateMission()"
          data-bs-dismiss="modal"
        >
          Modifier
        </button>
      </div>
    </div>
  </div>
  </div>
  
  <!-- Delete Modal -->
<div class="modal fade" id="DeleteModal" tabindex="-1" aria-labelledby="DeleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="DeleteModalLabel">Supprimer ?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="exclamation">
        <i class="bi bi-exclamation-circle"></i>
        <p>Veuillez confirmer, cette opération est irréversible.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
        <button type="button" class="btn btn-danger" (click)="deleteMission()" data-bs-dismiss="modal">Supprimer</button>
      </div>
    </div>
  </div>
</div>

  
  