<div class="container-fluid">
    <div>
      <button
        data-bs-toggle="modal"
        data-bs-target="#AddModal"
        class="btn btn-primary float-end m-2"
      >
         <i class="bi bi-plus-circle"></i>
      </button>
    </div>
    <div>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th for="title">Titre</th>
            <th for="place">Lieu du mission</th>
            <th for="hour">Heure du mission</th>
            <th for="dateStart">Date du debut</th>
            <th for="dateEnd">Date du fin</th>
            <th for="agentLogistique">Agent Logistique</th>
            <th for="action">Action</th>
            <th for="status">Status</th>
        </thead>
        <tbody>
          <tr *ngFor="let mission of missionList">
            <td>{{ mission.title }}</td>
            <td>{{ mission.place }}</td>
            <td>{{ mission.hour }}</td>
            <td>{{ mission.dateStart }}</td>
            <td>{{ mission.dateEnd }}</td>
            <td>{{ mission.agentLogistique }}</td>
            <div>
              <span *ngIf="mission.status === 'attend'">En attend</span>
              <span *ngIf="mission.status === 'valider'">Valider</span>
            </div>
            <td>
              <div>
                <span
                  data-bs-toggle="modal"
                  data-bs-target="#UpdateModal"
                  (click)="editMission(mission)"
                >
                <i class="bi bi-pencil-square icon-edit" ></i></span
                ><span class="icon-delete" (click)="deleteMission(mission)"> <i class="bi bi-trash-fill"></i></span>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
  <!-- Add Modal -->
     <div
        class="modal fade"
        id="AddModal"
        tabindex="-1"
        aria-labelledby="AddModalLabel"
        aria-hidden="true"
        data-backdrop="static"
        data-keyboard="false"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="addModalLabel">
                Ajouter Mission
              </h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <form [formGroup]="missionForm" autocomplete="off">
                <div class="row">
                  <div class="col-xl-4 mb-3">
                    <label for="title" class="form-label">Titre</label>
                    <input type="text" class="form-control" name="title" formControlName="title"/>
                    <div
                      *ngIf="
                        missionForm.controls['title'].hasError('required') &&
                        missionForm.controls['title'].touched
                      "
                      class="text-danger"
                    >
                      Entrez titre du mission
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-6 mb-3">
                    <label for="place" class="form-label">Lieu du mission</label>
                    <input type="text" class="form-control" name="place" formControlName="place"/>
                    <div
                      *ngIf="
                        missionForm.controls['place'].hasError('required') &&
                        missionForm.controls['place'].touched
                      "
                      class="text-danger"
                    >
                      Entrez lieu du mission
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-6 mb-3">
                    <label for="hour" class="form-label">Heure du mission</label>
                    <input type="time" class="form-control" name="hour" formControlName="hour"/>
                    <div
                      *ngIf="
                        missionForm.controls['hour'].hasError('required') &&
                        missionForm.controls['hour'].touched
                      "
                      class="text-danger"
                    >
                      Entrez l'heure du mission
                    </div>
                  </div>
                </div>
                <div class="row">
                    <div class="col-xl-4 mb-3">
                      <label for="dateStart" class="form-label">Date du debut</label>
                      <input type="date" class="form-control" name="dateStart" formControlName="dateStart"/>
                      <div
                        *ngIf="
                          missionForm.controls['dateStart'].hasError('required') &&
                          missionForm.controls['dateStart'].touched
                        "
                        class="text-danger"
                      >
                        Entrez la date du debut du mission
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xl-4 mb-3">
                      <label for="dateEnd" class="form-label">Date du fin</label>
                      <input type="date" class="form-control" name="dateEnd" formControlName="dateEnd"/>
                      <div
                        *ngIf="
                          missionForm.controls['dateEnd'].hasError('required') &&
                          missionForm.controls['dateEnd'].touched
                        "
                        class="text-danger"
                      >
                        Entrez la date du fin du mission
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xl-4 mb-3">
                        <label for="agentLogistique" class="form-label">Agent Logistique</label>
                        <select class="form-select" name="agentLogistique" formControlName="agentLogistique">
                          <option *ngFor="let user of users" [value]="user.firstName + ' ' + user.lastName">{{ user.firstName + ' ' + user.lastName }}</option>
                        </select>
                        <div *ngIf="missionForm.controls['agentLogistique'].hasError('required') && missionForm.controls['agentLogistique'].touched" class="text-danger">
                          Sélectionnez l'agent logistique pour la mission
                        </div>
                    </div>
                  </div>
              </form>
            </div>
            <div class="modal-footer">
              <button
                mat-raised-button 
                type="submit" 
                (click)="submit()"
                data-bs-dismiss="modal">
                Ajouter
              </button>
            </div>
          </div>
        </div>
      </div>
  
  
  <!-- Update Modal -->
  <div
  class="modal fade"
  id="UpdateModal"
  tabindex="-1"
  aria-labelledby="UpdateModalModalLabel"
  aria-hidden="true"
  data-backdrop="static"
  data-keyboard="false"
  >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="UpdateModalLabel">
          Modifier mission
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form autocomplete="off">
            <div class="col-xl-6 mb-3">
              <label for="title" class="form-label">Titre</label>
              <input name="title" id="title" [(ngModel)]="selectedMission.title" [ngModelOptions]="{ standalone: true }" >
            </div>
            <div class="col-xl-6 mb-3">
                <label for="place" class="form-label">Lieu du mission</label>
                <input name="place" id="place" [(ngModel)]="selectedMission.place" [ngModelOptions]="{ standalone: true }" >
            </div>
            <div class="col-xl-6 mb-3">
                <label for="hour" class="form-label">Heure du mission </label>
                <input type="time" name="hour" id="hour" [(ngModel)]="selectedMission.hour" [ngModelOptions]="{ standalone: true }" >
            </div>
            <div class="col-xl-6 mb-3">
                <label for="dateStart" class="form-label">Date du debut</label>
                <input type="date" name="dateStart" id="dateStart" [(ngModel)]="selectedMission.dateStart" [ngModelOptions]="{ standalone: true }" >
            </div>
            <div class="col-xl-6 mb-3">
                <label for="dateEnd" class="form-label">Date du fin</label>
                <input type="date" name="dateEnd" id="dateEnd" [(ngModel)]="selectedMission.dateEnd" [ngModelOptions]="{ standalone: true }" >
            </div>
            <div class="col-xl-6 mb-3">
                <label for="agentLogistique" class="form-label">Agent Logistique</label>
                <select class="form-select" name="agentLogistique" id="agentLogistique" [(ngModel)]="selectedMission.agentLogistique" [ngModelOptions]="{ standalone: true }" >
                  <option *ngFor="let user of users" [value]="user.firstName + ' ' + user.lastName">{{ user.firstName + ' ' + user.lastName }}</option>
                </select>
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-primary"
          (click)="updateMission()"
          data-bs-dismiss="modal"
        >
          Modifier
        </button>
      </div>
    </div>
  </div>
  </div>
  
  
  