<div class="container-fluid">
  <div class="search-title-container">
    <h2 class="title">Table des réclamations</h2>
    <div class="search-box">
      <input type="search" [(ngModel)]="searchText" class="form-control" placeholder="Rechercher" aria-label="search"/>
    </div>
  </div>
  
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Catégorie</th>
        <th>Numéro d'inventaire</th>
        <th>Numéro de série</th>
        <th>Description</th>
        <th>Statut</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let claim of claims | filter: searchText | paginate: { itemsPerPage: 7, currentPage: p }">
        <td>{{ claim.materiel.categorie }}</td>
        <td>{{ claim.materiel.numInv }}</td>
        <td>{{ claim.materiel.numSerie }}</td>
        <td>{{ claim.description }}</td>
        <td>
          <div>
            <span *ngIf="claim.status === 'pending'">En Attente</span>
            <span *ngIf="claim.status === 'sent to fournisseur'">Réclamation envoyer au fournisseur</span>
            <span *ngIf="claim.status === 'received'">En cours de traitement</span>
            <span *ngIf="claim.status === 'accepted'">Réclamation accomplie</span>
            <span *ngIf="claim.status === 'rejected'">Réclamation refuser</span>
          </div>
        </td>
        <td>
          <div>
            <span class="icon-check" (click)="acceptClaim(claim)">
              <i class="bi bi-check-square-fill"></i>
          </span>
          <span class="icon-desactivate" data-bs-toggle="modal"
            data-bs-target="#RejectModal" (click)="openRejectModal(claim)">
            <i class="bi bi-x-square-fill"></i> 
          </span>
            <span
              data-bs-toggle="modal"
              data-bs-target="#UpdateModal"
              (click)="editClaim(claim)"
            >
            <i class="bi bi-pencil-square icon-edit" ></i></span>
            <span class="icon-delete" data-bs-toggle="modal"
            data-bs-target="#DeleteModal" (click)="openDeleteModal(claim)">
            <i class="bi bi-trash-fill"></i>
            </span>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="d-flex justify-content-end">
    <pagination-controls (pageChange)="p = $event"  previousLabel="Précédent"
    nextLabel="Suivant"></pagination-controls>
  </div>
</div>

<!-- Update Modal -->
<div
class="modal fade"
id="UpdateModal"
tabindex="-1"
aria-labelledby="UpdateModalModalLabel"
aria-hidden="true"
data-backdrop="static"
data-keyboard="false"
>
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title fs-5" id="UpdateModalLabel">
        Modifier une réclamation
      </h1>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"
      ></button>
    </div>
    <div class="modal-body">
      <form autocomplete="off">
          <div class="col-xl-6 mb-3">
            <label for="description" class="form-label">Déscription</label>
            <textarea 
              name="description"
              id="description"
              class="form-control"
              rows="5"
              [(ngModel)]="selectedClaim.description"
              [ngModelOptions]="{ standalone: true }"
            ></textarea>
          </div>
      </form>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-primary float-end m-2"
        (click)="updateClaim()"
        data-bs-dismiss="modal"
      >
        Modifier
      </button>
    </div>
  </div>
</div>
</div>


<!-- Delete Modal -->
<div class="modal fade" id="DeleteModal" tabindex="-1" aria-labelledby="DeleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="DeleteModalLabel">Supprimer ?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="exclamation">
        <i class="bi bi-exclamation-circle"></i>
        <p>Veuillez confirmer, cette opération est irréversible.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
        <button type="button" class="btn btn-danger" (click)="deleteClaim()" data-bs-dismiss="modal">Supprimer</button>
      </div>
    </div>
  </div>
</div>

<!-- Reject Modal -->
<div class="modal fade" id="RejectModal" tabindex="-1" aria-labelledby="RejectModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="RejectModalLabel">Rejeter ?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="exclamation">
        <i class="bi bi-exclamation-circle"></i>
        <p>Veuillez confirmer cette opération.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
        <button type="button" class="btn btn-danger" (click)="rejectClaim()" data-bs-dismiss="modal">Rejeter</button>
      </div>
    </div>
  </div>
</div>
