<div class="header">
  <span
    class="list-icon"
    (click)="toggleShadow($event)"
    [ngClass]="{ clicked: isSidebarOpen }"
    ><i class="bi bi-list" (click)="toggleSidebar()"></i
  ></span>
  
  <span class="profile-icon"
    ><i class="bi bi-person-circle"></i></span
  >

</div>
<div class="container-fluid">
  <div class="container sidebar" [ngClass]="{ show: isSidebarOpen }">
    <nav>
      <div class="menu">
        <div class="menu-item" *ngFor="let item of menuItems" [routerLinkActive]="['active']">
          <a class="menu-link" [routerLink]="item.path" [ngClass]="{ 'active': itemActive === item.label }" (click)="itemActive = item.label">
            <i class="{{ item.icon }}"> </i>
            <span class="menu-label">{{ item.label }}</span>
          </a>
        </div>
      </div>
    </nav>
  </div>

  <div class="container main">
    <router-outlet></router-outlet>
  </div>
</div>
