<div class="header">
  <span
    class="list-icon"
    (click)="toggleShadow($event)"
    [ngClass]="{ clicked: isClicked }"
    ><i class="bi bi-list" (click)="toggleSidebar()"></i
  ></span>
  
  <span class="profile-icon"
    ><i class="bi bi-person-circle"></i></span
  >

</div>
<div class="container-fluid">
  <div class="container sidebar" [ngClass]="{ show: isSidebarOpen }">
    <nav>
      <ul class="layout-menu">
        <li class="layout-menu-item" *ngFor="let item of menuItems">
          <a class="layout-menu-link" [routerLink]="item.link">
            {{ item.label }}
          </a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="container main">
    <router-outlet></router-outlet>
  </div>
</div>
