<div class="container-fluid">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link"  [class.active]="activeTab === 'unseen'" (click)="setActiveTab('unseen')">Notifications non vues</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [class.active]="activeTab === 'seen'" (click)="setActiveTab('seen')">Notifications vues</a>
    </li>
  </ul>

  <div class="tab-content">
    <div *ngIf="activeTab === 'unseen'" class="tab-pane fade show active">
      <table class="notification-table">
        <thead>
          <tr>
            <th>Notifications non vues</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let notification of unseenNotifications | paginate: { itemsPerPage: 10, currentPage: p }" (click)="navigateToRequests(notification.onClickPath) ">
            <td>{{ notification.message }}</td>
          </tr>
        </tbody>
      </table>
      <div class="d-flex justify-content-end">
        <pagination-controls (pageChange)="p = $event"  previousLabel="Précédent"
        nextLabel="Suivant"></pagination-controls>
      </div>
      <div class="actions-container">
        <button (click)="markAllAsSeen()" class="btn btn-primary float-end m-2">Marquer tout comme vu</button>
      </div>
    </div>

    <div *ngIf="activeTab === 'seen'" class="tab-pane fade show active">
      <table class="notification-table">
        <thead>
          <tr>
            <th>Notifications vues</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let notification of seenNotifications | paginate: { itemsPerPage: 10, currentPage: p }" (click)="navigateToRequests(notification.onClickPath)">
            <td>{{ notification.message }}</td>
          </tr>
        </tbody>
      </table>
      <div class="d-flex justify-content-end">
        <pagination-controls (pageChange)="p = $event"  previousLabel="Précédent"
        nextLabel="Suivant"></pagination-controls>
      </div>
      <div class="actions-container">
        <button (click)="deleteAllNotifications()" class="btn btn-primary float-end m-2">Supprimer toutes les notifications</button>
      </div>
      
    </div>
  </div>
</div>
