<div class="container-fluid">
  <div class="search-title-container">
    <h2 class="title">Table de demandes des comptes </h2>
    <div class="search-box">
      <input type="search" [(ngModel)]="searchText" class="form-control" placeholder="Rechercher" aria-label="search"/>
    </div>
  </div>
  
  <div>
    <button
      data-bs-toggle="modal"
      data-bs-target="#AddModal"
      class="btn btn-primary float-end m-2"
    >
       <i class="bi bi-plus-circle"></i>
    </button>
    <button data-bs-toggle="modal" data-bs-target="#fileModal" class="btn btn-primary float-end m-2">   
      <i class="bi bi-file-earmark-arrow-down-fill"></i>
      </button>
  </div>
  <table class="table table-bordered">
      <thead>
        <tr>
          <th for="firstName">Prénom</th>
          <th for="lastName">Nom</th>
          <th for="cin">CIN</th>
          <th for="email">Email</th>
          <th for="phoneNumber">NuméroTél</th>
          <th for="role">Role</th>
          <th>Actions</th>

      </thead>
      <tbody>
        <tr *ngFor="let user of userList | paginate: { itemsPerPage: 10, currentPage: p }">
          <td>{{ user.firstName }}</td>
          <td>{{ user.lastName }}</td>
          <td>{{ user.cin }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.phoneNumber }}</td>
          <td>{{ user.role }}</td>
          <td>
            <div>
              <span
                data-bs-toggle="modal"
                data-bs-target="#UpdateModal"
                (click)="editRequest(user)"
              >
              <i class="bi bi-pencil-square icon-edit" ></i></span
              ><span class="icon-delete" (click)="deleteRequest(user)"> <i class="bi bi-trash-fill"></i></span>
            </div>
          </td>
        </tr>
      </tbody>
  </table>
  <div class="d-flex justify-content-end">
    <pagination-controls (pageChange)="p = $event"  previousLabel="Précédent"
    nextLabel="Suivant"></pagination-controls>
  </div>
</div>

<!-- Add Modal -->
   <div
      class="modal fade"
      id="AddModal"
      tabindex="-1"
      aria-labelledby="AddModalLabel"
      aria-hidden="true"
      data-backdrop="static"
      data-keyboard="false"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="addModalLabel">
              Ajouter une demande d'un compte
            </h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form [formGroup]="userForm" autocomplete="off">
              <div class="row">
                <div class="col-xl-6 mb-3">
                  <label for="firstName" class="form-label">Prénom</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="prénom"
                    name="firstName"
                    formControlName="firstName"
                    (keypress)="onlyLetters($event)"
                  />
                  <div
                    *ngIf="
                      userForm.controls['firstName'].hasError('required') &&
                      userForm.controls['firstName'].touched
                    "
                    class="text-danger"
                  >
                    Entrez votre prénom
                  </div>
                  <div
                  *ngIf="
                    userForm.controls['firstName'].hasError('hasNumber') &&
                    userForm.controls['firstName'].touched
                  "
                  class="text-danger"
                >
                  Le prénom ne doit pas contenir de chiffres
                </div>
                </div>
        
                <div class="col-xl-6 mb-3">
                  <label for="lastName" class="form-label">Nom</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="nom"
                    name="lastName"
                    formControlName="lastName"
                    (keypress)="onlyLetters($event)"
                  />
                  <div
                    *ngIf="
                      userForm.controls['lastName'].hasError('required') &&
                      userForm.controls['lastName'].touched
                    "
                    class="text-danger"
                  >
                    Entrez votre nom
                  </div>
                  <div
                    *ngIf="
                      userForm.controls['lastName'].hasError('hasNumber') &&
                      userForm.controls['lastName'].touched
                    "
                    class="text-danger"
                  >
                    Le nom ne doit pas contenir de chiffres
                  </div>
                </div>
              </div>
        
              <div class="row">
                <div class="col-xl-6 mb-3">
                  <label for="cin" class="form-label">CIN</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="cin"
                    name="cin"
                    formControlName="cin"
                    maxlength="8"
                    (keypress)="onlyNumbers($event)"
                  />
                  <div
                    *ngIf="
                      userForm.controls['cin'].hasError('required') &&
                      userForm.controls['cin'].touched
                    "
                    class="text-danger"
                  >
                    Entrez votre cin
                  </div>
                  <div *ngIf="
                      userForm.controls['cin'].hasError('minlength') &&
                      userForm.controls['cin'].touched"
                    class="text-danger"
                  >
                    CIN doit être exactement 8 chiffres
                  </div>
                </div>
                <div class="col-xl-6 mb-3">
                  <label for="email" class="form-label">Email</label>
                  <input
                    type="email"
                    class="form-control"
                    placeholder="email"
                    name="email"
                    formControlName="email"
                  />
                  <div
                    *ngIf="
                      userForm.controls['email'].hasError('required') &&
                      userForm.controls['email'].touched
                    "
                    class="text-danger"
                  >
                    Entrez votre email
                  </div>
                  <div
                    *ngIf="
                      userForm.controls['email'].hasError('email') &&
                      userForm.controls['email'].touched
                    "
                    class="text-danger"
                  >
                    Email invalide
                  </div>
                </div>
              </div>
        
              <div class="row">
                <div class="col-xl-6 mb-3">
                  <label for="phoneNumber" class="form-label"
                    >Numéro du Téléohone</label
                  >
                  <input
                    type="tel"
                    class="form-control"
                    name="phoneNumber"
                    placeholder="numéro du téléohone"
                    formControlName="phoneNumber"
                    maxlength="8"
                  />
                  <div
                    *ngIf="
                      userForm.controls['phoneNumber'].hasError('required') &&
                      userForm.controls['phoneNumber'].touched
                    "
                    class="text-danger"
                  >
                    Entrez votre numéro de téléphone
                  </div>
                  <div
                    *ngIf="
                      userForm.controls['phoneNumber'].hasError('minlength') &&
                      userForm.controls['phoneNumber'].touched
                    "
                    class="text-danger"
                  >
                    Numéro de téléphone doit être exactement 8 chiffres
                  </div>
                </div>
                <div class="col-xl-6 mb-3">
                  <label for="role"  class="form-label">Role</label>
                  <select formControlName="role" name="role" id="role">
                    <option value="fournisseur">Fournisseur</option>
                    <option value="deploiement">
                      Résponsable de déploiement
                    </option>
                    <option value="approvisionnement">
                      Résponsable approvisionnement
                    </option>
                    <option value="logistique">
                      Résponsable logistique
                    </option>
                    <option value="responsableSite">Résponsable site</option>
                    <option value="agentLogistique">Agent logistique</option>
                    <option value="agent">Agent</option>
                  </select>
                </div>
              </div>        
            </form>
          </div>
          <div class="modal-footer">
            <button
              class="btn-primary"
              mat-raised-button 
              type="submit" 
              (click)="submit()"
              data-bs-dismiss="modal">
              Ajouter demande
            </button>
          </div>
        </div>
      </div>
    </div>


<!-- Update Modal -->
<div
class="modal fade"
id="UpdateModal"
tabindex="-1"
aria-labelledby="UpdateModalModalLabel"
aria-hidden="true"
data-backdrop="static"
data-keyboard="false"
>
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title fs-5" id="UpdateModalLabel">
        Modifier une demande
      </h1>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"
      ></button>
    </div>
    <div class="modal-body">
      <form autocomplete="off">
        <div class="row">
          <div class="col-xl-6 mb-3">
            <label for="firstName" class="form-label">Prénom</label>
            <input
              type="text"
              name="firstName"
              id="firstName"
              class="form-control"
              [(ngModel)]="selectedUser.firstName"
              [ngModelOptions]="{ standalone: true }"
              (keypress)="onlyLetters($event)"
              />
              <div
                *ngIf="
                  userForm.controls['firstName'].hasError('required') &&
                  userForm.controls['firstName'].touched
                "
                class="text-danger"
              >
                Entrez votre prénom
              </div>
              <div
              *ngIf="
                userForm.controls['firstName'].hasError('hasNumber') &&
                userForm.controls['firstName'].touched
              "
              class="text-danger"
            >
              Le prénom ne doit pas contenir de chiffres
            </div>
            
          </div>

          <div class="col-xl-6 mb-3">
            <label for="lastName" class="form-label">Nom</label>
            <input
              type="text"
              name="lastName"
              id="lastName"
              class="form-control"
              [(ngModel)]="selectedUser.lastName"
              [ngModelOptions]="{ standalone: true }"
              (keypress)="onlyLetters($event)"
              />
              <div
                *ngIf="userForm.controls['lastName'].hasError('required') &&
                       userForm.controls['lastName'].touched"
                    class="text-danger">
                    Entrez votre nom
              </div>
              <div
                *ngIf="
                     userForm.controls['lastName'].hasError('hasNumber') &&
                    userForm.controls['lastName'].touched
                    "
                    class="text-danger"
                  >
                    Le nom ne doit pas contenir de chiffres
               </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xl-6 mb-3">
            <label for="cin" class="form-label">CIN</label>
            <input
              type="text"
              name="cin"
              id="cin"
              class="form-control"
              [(ngModel)]="selectedUser.cin"
              [ngModelOptions]="{ standalone: true }"
              maxlength="8"
              (keypress)="onlyNumbers($event)"
            />
            <div
              *ngIf="
                userForm.controls['cin'].hasError('required') &&
                userForm.controls['cin'].touched
              "
              class="text-danger"
            >
              Entrez votre cin
            </div>
            <div *ngIf="
                userForm.controls['cin'].hasError('minlength') &&
                userForm.controls['cin'].touched"
              class="text-danger"
            >
              CIN doit être exactement 8 chiffres
            </div>
          </div>
          <div class="col-xl-6 mb-3">
            <label for="email" class="form-label">Email</label>
            <input
              type="email"
              name="email"
              id="email"
              class="form-control"
              [(ngModel)]="selectedUser.email"
              [ngModelOptions]="{ standalone: true }"
            />
            <div
            *ngIf="
              userForm.controls['email'].hasError('email') &&
              userForm.controls['email'].touched
            "
            class="text-danger"
          >
            Email invalide
          </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xl-6 mb-3">
            <label for="phoneNumber" class="form-label"
              >Numéro du Téléohone</label
            >
            <input
              type="tel"
              name="phoneNumber"
              id="phoneNumber"
              [(ngModel)]="selectedUser.phoneNumber"
              [ngModelOptions]="{ standalone: true }"
              maxlength="8"
              />
              <div
                *ngIf="
                  userForm.controls['phoneNumber'].hasError('required') &&
                  userForm.controls['phoneNumber'].touched
                "
                class="text-danger"
              >
                Entrez votre numéro de téléphone
              </div>
              <div
                *ngIf="
                  userForm.controls['phoneNumber'].hasError('minlength') &&
                  userForm.controls['phoneNumber'].touched
                "
                class="text-danger"
              >
                Numéro de téléphone doit être exactement 8 chiffres
              </div>
          </div>
          <div class="col-xl-6 mb-3">
            <label for="role" class="form-label">Role</label>
            <select
              class="liste"
              name="role"
              id="role"
              [(ngModel)]="selectedUser.role"
              [ngModelOptions]="{ standalone: true }"
            >
              <option value="fournisseur">Fournisseur</option>
              <option value="deploiement">
                Responsable de déploiement
              </option>
              <option value="approvisionnement">
                Responsable approvisionnement
              </option>
              <option value="logistique">
                Responsable logistique
              </option>
              <option value="responsableSite">Responsable site</option>
              <option value="agentLogistique">Agent logistique</option>
              <option value="Agent">Agent</option>
            </select>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-primary"
        (click)="updateRequest()"
        data-bs-dismiss="modal"
      >
        Modifier
      </button>
    </div>
  </div>
</div>
</div>
<!-- FileModal -->
<div class="modal fade" id="fileModal" tabindex="-1"  aria-labelledby="FileModalTitle" aria-hidden="true" data-backdrop="static"
data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="UpdateModalLabel">
          Importer liste des demandes
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="file-upload-container">
          <h2>Importer fichier CSV</h2>
          <label class="custom-file-upload">
            Choisir un fichier
            <input type="file"  (change)="onFileSelected($event)" />
          </label>
          <span id="fileName">Aucun fichier choisi</span>  
            
        </div>
    </div>
    <div class="modal-footer">
      <button type="button" (click)="uploadCSV()" class="btn btn-primary" data-bs-dismiss="modal">Importer</button>
  </div>
    </div>
  </div>
</div>
