.container-fluid{
    margin-top: 50px;
    margin-right: 150px;
    width:85% !important;
   
} 
.title {
    text-align: left;
    margin-bottom: 50px;
    color: #023047;
    font-weight: bold;
  }
.table{
    justify-content: center;
    width: 100%;
    height: auto;
    border-collapse: collapse ;

}

th, td {
    
    text-align: center;
}
th {
    background-color: #f2f2f2;
    font-weight: bold;
    text-align:center ;
}
  
tr:nth-child(even) {
    background-color: #f2f2f2;
  }

.btn-primary{
    background-color: #023047;
    padding: 8px 15px;
    color: white;
    display: block;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
