<div class="container-fluid">
    <div>
      <h1>Affectation du materiel </h1>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th for="categorie">Catégorie</th>
            <th for="nature">Nature du model</th>
            <th for="numSerie">Numéro du serie</th>
            <th>Numéro d'inventaire</th>
            <th>Agent</th>
          </tr>
        </thead>
  
        <tbody>
          <tr *ngFor="let materiel of materielList">
            <td>{{ materiel.categorie }}</td>
            <td>{{ materiel.nature }}</td>
            <td>{{ materiel.numSerie }}</td>
            <td>{{ materiel.numInv }}</td>
            <td>
              <select class="form-select" [(ngModel)]="materiel.agent">
                <option *ngFor="let user of userList" [value]="user._id">
                  {{ user.firstName }} {{ user.lastName }}
                </option>
              </select>
            </td>
          </tr>
        </tbody>
      </table>
      <button class="btn btn-primary" (click)="affecterMateriels()">Affecter</button>
    </div>
  </div>
  
