<div class="container-fluid">
  <div class="search-title-container">
    <h2 class="title">Table des Maté  riels</h2>
    <div class="search-box">
      <input type="search" [(ngModel)]="searchText" class="form-control" placeholder="Rechercher" aria-label="search"/>
    </div>
  </div>
  
  <div>
    <button
      data-bs-toggle="modal"
      data-bs-target="#AddModal"
      class="btn btn-primary float-end m-2"
    >
       <i class="bi bi-plus-circle"></i>
    </button>
    <button data-bs-toggle="modal" data-bs-target="#FileModal" class="btn btn-primary float-end m-2">   
      <i class="bi bi-file-earmark-arrow-down-fill"></i>
      </button>
   <button data-bs-toggle="modal"  data-bs-target="#QrModal" class="btn btn-primary float-end m-2" (click)="generateQRCode()"> <i i class="bi bi-qr-code"></i>
     </button>
  </div>
  <div>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th for="categorie">Catégorie</th>
          <th for="nature">Nature du model</th>
          <th for="numSerie">Numéro du serie</th>
          <th for="dateCreate">Date de creation</th>
          <th for="action">Actions</th>
      </thead>
      <tbody>
        <tr *ngFor="let materiel of materielList | filter: searchText | paginate: { itemsPerPage: 7, currentPage: p }">
          <td>{{ materiel.categorie }}</td>
          <td>{{ materiel.nature }}</td>
          <td>{{ materiel.numSerie }}</td>
          <td>{{ materiel.createdAt | date : "short" }}</td>
          <td>
            <div>
              <span
                data-bs-toggle="modal"
                data-bs-target="#UpdateModal"
                (click)="editMateriel(materiel)"
              >
              <i class="bi bi-pencil-square icon-edit" ></i></span>
              <span class="icon-delete" data-bs-toggle="modal"
                data-bs-target="#DeleteModal" (click)="openDeleteModal(materiel)">
                <i class="bi bi-trash-fill"></i>
              </span>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="d-flex justify-content-end">
      <pagination-controls (pageChange)="p = $event"  previousLabel="Précédent"
      nextLabel="Suivant"></pagination-controls>
    </div>
  </div>
</div>

<!-- Add Modal -->
   <div
      class="modal fade"
      id="AddModal"
      tabindex="-1"
      aria-labelledby="AddModalLabel"
      aria-hidden="true"
      data-backdrop="static"
      data-keyboard="false"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="addModalLabel">
              Ajouter un matériel
            </h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form [formGroup]="materielForm" autocomplete="off">
              <div class="row">
                <div class="col-xl-6 mb-3">
                  <label for="categorie" class="form-label">Catégorie</label>
                  <select formControlName="categorie"class="form-select" name="categorie" id="categorie">
                    <option value="ordinateurs">Ordinateurs</option>
                    <option value="alimentation">Alimentation</option>
                    <option value="processeur">Processeur</option>
                    <option value="clavier">Clavier</option>
                    <option value="souris">Souris</option>
                    <option value="casque">Casque</option>
                    <option value="écran">Ecran</option>
                    <option value="baffle">Baffle</option>
                    <option value="cables">Câbles</option>
                    <option value="imprimante">Imprimante</option>
                    <option value="switch">Commutateur réseau</option>
                    <option value="modems">Modems</option>
                    <option value="scanner">Scanner</option>
                  </select>
                </div>
                <div class="col-xl-6 mb-3">
                  <label for="nature" class="form-label">Nature du matériel</label>
                  <select formControlName="nature" class="form-select" name="nature" id="nature">
                    <option value="apple">APPLE</option>
                    <option value="asus">ASUS</option>
                    <option value="hp">HP</option>
                    <option value="acer">ACER</option>
                    <option value="lenovo">LENOVO</option>
                    <option value="dell">DELL</option>
                    <option value="microsoft">MICROSOFT</option>
                    <option value="epson">EPSON</option>
                    <option value="canon">CANON</option>
                    <option value="logitech">LOGITECH</option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6 mb-3">
                  <label for="numSerie" class="form-label"
                    >Numéro du serie</label
                  >
                  <input
                    class="form-control"
                    name="numSerie"
                    formControlName="numSerie"
                    maxlength="20"
                  />
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button
              mat-raised-button 
              class="btn btn-primary"
              type="submit" 
              (click)="submit()"
              data-bs-dismiss="modal">
              Ajouter
            </button>
          </div>
        </div>
      </div>
    </div>


<!-- Update Modal -->
<div
class="modal fade"
id="UpdateModal"
tabindex="-1"
aria-labelledby="UpdateModalModalLabel"
aria-hidden="true"
data-backdrop="static"
data-keyboard="false"
>
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title fs-5" id="UpdateModalLabel">
        Modifier un matériel
      </h1>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"
      ></button>
    </div>
    <div class="modal-body">
      <form autocomplete="off">
        <div class="row">
          <div class="col-xl-6 mb-3">
            <label for="categorie" class="form-label">Catégorie</label>
            <select 
              name="categorie"
              id="categorie"
              class="form-select"
              [(ngModel)]="selectedMateriel.categorie"
              [ngModelOptions]="{ standalone: true }"
            >
            <option value="ordinateurs">Ordinateurs</option>
            <option value="alimentation">Alimentation</option>
            <option value="processeur">Processeur</option>
            <option value="clavier">Clavier</option>
            <option value="souris">Souris</option>
            <option value="casque">Casque</option>
            <option value="écran">Ecran</option>
            <option value="baffle">Baffle</option>
            <option value="cables">Câbles</option>
            <option value="imprimante">Imprimante</option>
            <option value="switch">Commutateur réseau</option>
            <option value="modems">Modems</option>
            <option value="scanner">Scanner</option>
            </select>
          </div>
          <div class="col-xl-6 mb-3">
            <label for="nature" class="form-label">Nature du matériel</label>
            <select 
              name="nature"
              id="nature"
              class="form-select"
              [(ngModel)]="selectedMateriel.nature"
              [ngModelOptions]="{ standalone: true }"
            >
            <option value="apple">APPLE</option>
                    <option value="asus">ASUS</option>
                    <option value="hp">HP</option>
                    <option value="acer">ACER</option>
                    <option value="lenovo">LENOVO</option>
                    <option value="dell">DELL</option>
                    <option value="microsoft">MICROSOFT</option>
                    <option value="epson">EPSON</option>
                    <option value="canon">CANON</option>
                    <option value="logitech">LOGITECH</option>
            </select>
          </div>
        </div>
          <div class="row">
            <div class="col-xl-6 mb-3">
              <label for="numSerie" class="form-label"
                >Numéro du serie</label
              >
              <input
                name="numSerie"
                id="numSerie"
                class="form-control"
                [(ngModel)]="selectedMateriel.numSerie"
                [ngModelOptions]="{ standalone: true }"
                maxlength="20"
              />
            </div>
            <div class="col-xl-6 mb-3">
              <label  class="form-label"
                >Date de création</label
              >
              <input
                type="datetime"
                name="createdAt"
                class="form-control"
                id="createdAt"
                [(ngModel)]="selectedMateriel.createdAt"
                [ngModelOptions]="{ standalone: true }"
                
              />
            </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-primary"
        (click)="updateMateriel()"
        data-bs-dismiss="modal"
      >
        Modifier
      </button>
    </div>
  </div>
</div>
</div>
<!-- FileModal -->
<div class="modal fade" id="FileModal" tabindex="-1"  aria-labelledby="FileModalTitle" aria-hidden="true" data-backdrop="static"
data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="UpdateModalLabel">
          Importer Matériel
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
          <div class="file-upload-container">
            <h2>Importer fichier CSV</h2>
            <label class="custom-file-upload">
              Choisir un fichier
              <input type="file"  (change)="onFileChange($event)" />
            </label>
            <span id="fileName">Aucun fichier choisi</span>  
              
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="uploadCSV()" class="btn btn-primary" data-bs-dismiss="modal">Importer</button>
    </div>
    </div>
  </div>
</div>


<!-- QrModal -->



<div class="modal fade" id="QrModal" tabindex="-1" role="dialog" aria-labelledby="FileModalTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="UpdateModalLabel">
        Scanner code QR
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="file-upload-container" #qr>      
          <qrcode *ngIf="qrCodeData" [qrdata]="qrCodeData" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
        </div>
    </div>
    <div class="modal-footer">
      <button  class="btn btn-primary" (click)="downloadqr()">Télecharger</button>
  </div>
    </div>
  </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="DeleteModal" tabindex="-1" aria-labelledby="DeleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="DeleteModalLabel">Supprimer ?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <i class="bi bi-exclamation-circle"></i>
        <p>Veuillez confirmer svp, cette opération est irréversible.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
        <button type="button" class="btn btn-danger" (click)="deleteMateriel()" data-bs-dismiss="modal">Supprimer</button>
      </div>
    </div>
  </div>
</div>
