<div class="container-fluid">
  <div>
    <button
      class="btn btn-primary float-end m-2"
      [routerLink]="['/admin/register']"
    >
      <i class="bi bi-person-add icon-add"></i>
    </button>
  </div>
  <div>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th *ngFor="let column of displayedColumns">{{ column }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of userList">
          <td>{{ user.firstName }}</td>
          <td>{{ user.lastName }}</td>
          <td>{{ user.cin }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.phoneNumber }}</td>
          <td>{{ user.role }}</td>
          <td>
            <div>
              <span *ngIf="user.status === 'pending'">Pending</span>
              <span *ngIf="user.status === 'active'">Active</span>
              <span *ngIf="user.status === 'desactivate'">Desactive</span>
            </div>
          </td>
          <td>
            <div>
              <span
                data-bs-toggle="modal"
                data-bs-target="#UpdateModal"
                (click)="editUser(user)"
              >
              <i class="bi bi-pencil-square icon-edit"></i></span
              > <span class="icon-check"> <i class="bi bi-check-square-fill"></i> </span>|
              <span class="icon-desactivate" (click)="desactivateUser(user)"> <i class="bi bi-power"></i>  </span>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="UpdateModal"
  tabindex="-1"
  aria-labelledby="UpdateModalModalLabel"
  aria-hidden="true"
  data-backdrop="static"
  data-keyboard="false"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="UpdateModalLabel">
          Modifier l'utilisateur
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form autocomplete="off">
          <div class="row">
            <div class="col-xl-6 mb-3">
              <label for="firstName" class="form-label">Nom</label>
              <input
                type="text"
                name="firstName"
                id="firstName"
                class="form-control"
                [(ngModel)]="selectedUser.firstName"
                [ngModelOptions]="{ standalone: true }"
              />
            </div>

            <div class="col-xl-6 mb-3">
              <label for="lastName" class="form-label">Prénom</label>
              <input
                type="text"
                name="lastName"
                id="lastName"
                class="form-control"
                [(ngModel)]="selectedUser.lastName"
                [ngModelOptions]="{ standalone: true }"
              />
            </div>
          </div>

          <div class="row">
            <div class="col-xl-6 mb-3">
              <label for="cin" class="form-label">CIN</label>
              <input
                type="number"
                name="cin"
                id="cin"
                class="form-control"
                [(ngModel)]="selectedUser.cin"
                [ngModelOptions]="{ standalone: true }"
              />
            </div>
            <div class="col-xl-6 mb-3">
              <label for="email" class="form-label">Email</label>
              <input
                type="email"
                name="email"
                id="email"
                class="form-control"
                [(ngModel)]="selectedUser.email"
                [ngModelOptions]="{ standalone: true }"
              />
            </div>
          </div>

          <div class="row">
            <div class="col-xl-6 mb-3">
              <label for="phoneNumber" class="form-label"
                >Numéro du Téléohone</label
              >
              <input
                type="number"
                name="phoneNumber"
                id="phoneNumber"
                [(ngModel)]="selectedUser.phoneNumber"
                [ngModelOptions]="{ standalone: true }"
              />
            </div>
            <div class="col-xl-6 mb-3">
              <label for="role" class="form-label">Role</label>
              <select
                class="liste"
                name="role"
                id="role"
                [(ngModel)]="selectedUser.role"
                [ngModelOptions]="{ standalone: true }"
              >
                <option value="fournisseur">Fournisseur</option>
                <option value="deploiement">
                  Responsable de déploiement
                </option>
                <option value="approvisionnement">
                  Responsable approvisionnement
                </option>
                <option value="logistique">
                  Responsable logistique
                </option>
                <option value="responsableSite">Responsable site</option>
                <option value="agentLogistique">Agent logistique</option>
                <option value="Agent">Agent</option>
              </select>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-primary"
          (click)="updateUser()"
          data-bs-dismiss="modal"
        >
          Modifier
        </button>
      </div>
    </div>
  </div>
</div>
