<div class="container-fluid register-section ">
    <div class="card register-card p-2 shadow-lg">
      <h2>Modifier Profil</h2>
      <form [formGroup]="profileForm" autocomplete="off">
        <div class="row">
          <div class="col-xl-6 mb-3">
            <label for="firstName" class="form-label" [formGroup]="profileForm">Prénom</label>
            <input type="text" class="form-control" name="firstName"formControlName="firstName" (keypress)="onlyLetters($event)"/>
            <div
            *ngIf="
              profileForm.controls['firstName'].hasError('hasNumber') &&
              profileForm.controls['firstName'].touched
            "
            class="text-danger"
          >
            Le prénom ne doit pas contenir de chiffres
          </div>
          </div>
          <div class="col-xl-6 mb-3">
            <label for="lastName" class="form-label">Nom</label>
            <input
              type="text"
              class="form-control"
              name="lastName"
              formControlName="lastName"
              (keypress)="onlyLetters($event)"
            />
            
          </div>
        </div>
        <div class="row">
          <div class="col-xl-6 mb-3">
            <label for="cin" class="form-label">CIN</label>
            <input
              type="text"
              class="form-control"
              name="cin"
              formControlName="cin"
              (keypress)="onlyNumbers($event)"
            />
      
          </div>
          <div class="col-xl-6 mb-3">
            <label for="email" class="form-label">Email</label>
            <input
              type="email"
              class="form-control"
              name="email"
              formControlName="email"
            />
            <div
            *ngIf="
              profileForm.controls['email'].hasError('email') &&
              profileForm.controls['email'].touched
            "
            class="text-danger"
          >
            Email invalide
          </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-6 mb-3">
            <label for="phoneNumber" class="form-label"
              >Numéro du Téléohone</label
            >
            <input
              type="tel"
              class="form-control"
              name="phoneNumber"
              formControlName="phoneNumber"
              maxlength="8"
            />
            <div
            *ngIf="
              profileForm.controls['phoneNumber'].hasError('minlength') &&
              profileForm.controls['phoneNumber'].touched
            "
            class="text-danger"
          >
            Numéro de téléphone doit être exactement 8 chiffres
          </div>
          </div>
          <div class="col-xl-6 mb-3">
            <label for="role" class="form-label">Role</label>
            <select
              class="form-select"
              name="role"
              formControlName="role"
            >
              <option value="fournisseur">Fournisseur</option>
              <option value="deploiement">
                Responsable de déploiement
              </option>
              <option value="approvisionnement">
                Responsable approvisionnement
              </option>
              <option value="logistique">
                Responsable logistique
              </option>
              <option value="responsableSite">Responsable site</option>
              <option value="agentLogistique">Agent logistique</option>
              <option value="agent">Agent</option>
            </select>
          </div>
          
        </div>
        <div class="row">
          <div class="col-xl-6 mb-3">
            <label for="password" class="form-label">Mot de passe</label>
            <input
              type="password"
              class="form-control"
              name="password"
              formControlName="password"
              maxlength="8"
            (keypress)="strongPassword($event)"
            />
            <div
            *ngIf="
              profileForm.controls['password'].hasError('minlength') &&
              profileForm.controls['password'].touched
            "
            class="text-danger"
          >
            Le mot de passe doit comporter au moins 8 caractères
          </div>
          <div
            *ngIf="
              profileForm.controls['password'].hasError('strongPassword') &&
              profileForm.controls['password'].touched
            "
            class="text-danger"
          >
            Le mot de passe doit contenir au moins une majuscule, une minuscule, un chiffre et un caractère spécial
          </div>
          </div>
          <div class="col-xl-6 mb-3">
            <label for="password" class="form-label"
              >Confirmer Mot de passe</label
            >
            <input
              type="password"
              class="form-control"
              name="password"
              formControlName="password"
              maxlength="8"
            />
            <div
            *ngIf="
              profileForm.controls['confirmPassword'].hasError('passwordMismatch') && 
              profileForm.controls['confirmPassword'].touched
            "
            class="text-danger"
          >
            Les mots de passe ne sont pas correspandant
          </div>
          </div>
        </div>
        <button
          (click)="updateProfile()"
          type="submit"
          class="btn btn-primary full-width-button"
         
        >
          Enregistrer
        </button>
      </form>
    </div>
  </div>
  
  <div></div>