<div class="container-fluid">
  <div class="search-title-container">
    <h2 class="title">Table des réclamations</h2>
    <div class="search-box">
      <input type="search" [(ngModel)]="searchText" class="form-control" placeholder="Rechercher" aria-label="search"/>
    </div>
  </div>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Agent</th>
          <th>Catégorie</th>
          <th>Numéro d'inventaire</th>
          <th>Numéro de série</th>
          <th>Founisseur</th>
          <th>Déscription</th>
          <th>Statut</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let claim of claims | filter: searchText | paginate: { itemsPerPage: 7, currentPage: p }">
          <td>{{ claim.user.firstName +" "+ claim.user.lastName }}</td>
          <td>{{ claim.materiel.categorie }}</td>
          <td>{{ claim.materiel.numInv }}</td>
          <td>{{ claim.materiel.numSerie }}</td>
          <td>{{ claim.materiel.fournisseur }}</td>
          <td>{{ claim.description }}</td>
          <td>
            <div>
              <span *ngIf="claim.status === 'pending'">En Attente</span>
              <span *ngIf="claim.status === 'sent to fournisseur'">Envoyer au fournisseur</span>
              <span *ngIf="claim.status === 'received'">En cours de traitement</span>
              <span *ngIf="claim.status === 'accepted'">Réclamation accompli</span>
              <span *ngIf="claim.status === 'rejected'">Réclamation rejeter</span>
            </div>
          </td>
          <td>
            <button class="btn btn-primary float-end m-2" (click)="sendToFournisseur(claim)">Envoyer</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="d-flex justify-content-end">
    <pagination-controls (pageChange)="p = $event"  previousLabel="Précédent"
    nextLabel="Suivant"></pagination-controls>
  </div>
  