<div class="container">
    <h2 class="title">Réclamations</h2>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Catégorie</th>
          <th>Numéro d'inventaire</th>
          <th>Numéro de série</th>
          <th>Founisseur</th>
          <th>Description</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let claim of claims">
          <td>{{ claim.materiel.categorie }}</td>
          <td>{{ claim.materiel.numInv }}</td>
          <td>{{ claim.materiel.numSerie }}</td>
          <td>{{ claim.materiel.fournisseur }}</td>
          <td>{{ claim.description }}</td>
          <td>
            
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  